<div class="story-body">
  <p>This dataset holds information of the 35 top stocks in the Israeli market (called TA-35) from 2013 to 2018.</p>
  <p> The Tel Aviv Stock Exchange in Israel was founded in September 1953. One of its major stock market indices is the TA-35 Index. This flagship index tracks the prices of the 35 companies with the highest market capitalization on the exchange that matches the index criteria.</p>
  <!-- If you use images, the path is just images/___ -->
  {{!-- <p style="text-align: center"><img src="images/cat.jpg"></p> --}}
  <p>In the chart, I highlight OPK, the public trade symbol of OPKO Health. Because, OPKO Health, a multinational biopharmaceutical and diagonostics company, is listed as the top decliner of the TA-35 as of October 24 2019.</p>
</div>