<div class="story-body">
    <br>
    <h2>Acknowledgements:</h2>
    <p>The dataset is available at 
      <a href="https://www.kaggle.com/haimfeld87/top-35-israeli-stocks-5-years-data/download">Kaggle</a>
      and is originally extracted from 
      <a href="https://www.tase.co.il/en/market_data/index/142/tracking_products/etf">the Tel Aviv Stock Exchange</a>.</p>
</div>