    <div class="story-body">
    <h2>Here is another chart</h2>
    <p>In this slope graph, six companies, three from each group of <span style="background-color:lightgreen">top decliners</span>  and <span style="background-color:#FF6347">top gainers</span>, are singled out to compare their changes over the year.</p>
    <div id="chart-2"></div>
    </div>

<script src="scripts/practiceproject/chart-02.js"></script>


{{!-- <div class="story-body">
    <h2>Acknowledgements:</h2>
    <p>The dataset is available at 
      <a href="https://www.kaggle.com/haimfeld87/top-35-israeli-stocks-5-years-data/download">Kaggle</a>
      and is originally extracted from 
      <a href="https://www.tase.co.il/en/market_data/index/142/tracking_products/etf">the Tel Aviv Stock Exchange</a>.</p>
</div> --}}