<h3>Chart 1: A map about dots</h3>
<p>Make a map like<a href="https://www.reddit.com/r/outrun/">/r/outrun</a> and <a href="https://ironskullet.com/2018/03/01/what-is-synthwave-2018-edition/">synthwave</a>.</p>
</p>
<div id="chart-1">
</div>

<script src="scripts/homework-17/01-map.js"></script>
