<h3>Chart 4a: An election choropleth </h3>
<p>Make the color related to who was voted for, then make the opacity related to how many people are in that county (<a href="http://andywoodruff.com/blog/value-by-alpha-maps/">see this</a>).</p>
<div id="chart-4a">
</div>

<script src="scripts/homework-17/04a-map.js"></script>
