<h3>Chart 6: Small multiple maps </h3>
<p>Copy <a href='https://www.washingtonpost.com/graphics/national/power-plants'>Washington Post thing</a></p>

<div id="chart-6">
</div>

<script src="scripts/homework-17/06-map.js"></script>
