<h3>Chart 5: A bubble map </h3>
<p>Make a map of all of the powerplants in the United States. Size the circles by their output, color them by the type of powerplant. Just copying <a href='https://www.washingtonpost.com/graphics/national/power-plants'>this</a>, really.</p>
<p>Include a legend.</p>
<div id="chart-5">
</div>

<script src="scripts/homework-17/05-map.js"></script>
