<h3>Chart 2: Points and lines </h3>
<p>Plot the airports that I can fly non-stop to and out of a whatevert airport and draw lines for the flights. </p>
<div id="chart-2">
</div>

<script src="scripts/homework-17/02-map.js"></script>
