<h3>Chart 4b: An election choropleth <small>easy</small></h3>
<p>Same thing as 4a, but instead of using <code>colorScale</code> for Republicans vs. Democrats, I make it 100% one color if Republicans won and 100% another color if Democrats won.</p>
<div id="chart-4b">
</div>

<script src="scripts/homework-17/04b-map.js"></script>
