<div class="story-body">
  <p>This page collects some of my best data projects done at Columbia Journalism School's Data Journalism Program. My skills might not be fancy enough, but I do believe in the unparalled importance of simpleness in visual storytelling. That means to extract your subjective narratives and try to present the information as clear and objective as possible. Otherwise, charts could lie and lie in a worse way than a biased story.</p>
  <p></p>
  <!-- If you use images, the path is just images/___ -->
  {{!-- <p style="text-align: center"><img src="images/cat.jpg"></p> --}}
  <p></p>
</div>