<div class="story-body">
  <p>This page collects some of my best data projects done at <span style="background-color:rgb(170, 170, 245)">Columbia Journalism School's Data Journalism</span> Program. My skills might not be fancy enough, but I do believe in the paramount importance of <p1 style="text-decoration:underline;">combining simplicity and comprehensiveness</p1> in visual storytelling.</p>
  <p>That means to <span style="background-color:rgb(170, 170, 245)">extract our storytellers' subjective narratives</span>, so we could present the information as clearly and objectively as possible. Otherwise, <p1 style="text-decoration:underline;">charts could lie and be misused</p1> in a worse way than biased stories.</p>
  <!-- If you use images, the path is just images/___ -->
  {{!-- <p style="text-align: center"><img src="images/cat.jpg"></p> --}}
  <p></p>
</div>