<div class="story-body scrollytelling">
    <h2>C H A R T * F O U R</h2>
    <p> I steal it from <a href="https://www.nytimes.com/interactive/2014/06/05/upshot/how-the-recession-reshaped-the-economy-in-255-charts.html">the New York Times</a>.</p>

    <div id="chart-4" class="chart">
    </div>

    <div class="steps">
      <div class='step' id='step-centered'>
        <p>I start with everything in the center</p>
      </div>
      <div class='step' id='step-jobs'>
        <p>And then move them all out based on jobs since the recession</p>
      </div>
      <div class='step' id='step-highlight'>
        <p>I make a hover and highlight some things when you hit this step.</p>
      </div>
      <div class='step'>
        <p>And here's an empty step</p>
      </div>
    </div>
</div>

<script src="scripts/homework-15/04-chart.js"></script>
