<div class="story-body scrollytelling">
    <h1>C H A R T * T W O</h1>

    <div id="chart-2" class="chart">
    </div>

    <div class="steps">
      <div class='step'>
        <h2>Does cold weather slow the housing market?</h2>
        <p>Responsive graphic. Make it <strong>fill the height and width of its container</strong>.</p>
        <p><small>Let's be honest: I don't really know what this data is anymore, but that isn't going to stop me from using it.</small></p>
      </div>
      <div class='step' id="winter-draw-lines">
        <p>I draw all of the lines here.</p>
      </div>
      <div class='step' id="winter-highlight-us">
        <p>Highlight the "U.S." line, bold the text, and grey out every other line/bubble/text.</p>
      </div>
      <div class='step' id="winter-highlight-regions">
        <p>Highlight the Mountain, Pacific, West South Central, South Atlantic regions (but in a different color than the average).</p>
      </div>
      <div class='step' id="winter-draw-winter">
        <p>A rectangle that represents winter.</p>
      </div>
    </div>
</div>

<script src="scripts/homework-15/02-chart.js"></script>
