<div class="story-body scrollytelling">
    <h2>C H A R T * F O U R</h2>
    <p><strong>Bonus!</strong> We're stealing it from <a href="https://www.nytimes.com/interactive/2014/06/05/upshot/how-the-recession-reshaped-the-economy-in-255-charts.html">the New York Times</a>.</p>
    <p>This was horrible to code, and horrible to write a walkthrough for. I know it's a bonus, I know you don't have to do it, but I'm just warning you: it might be extra horrible.</p>

    <div id="chart-4" class="chart">
    </div>

    <div class="steps">
      <div class='step' id='step-centered'>
        <h2>This is horrifying</h2>
        <p>We'll start with everything in the center</p>
      </div>
      <div class='step' id='step-jobs'>
        <p>And then move them all out based on jobs since the recession</p>
      </div>
      <div class='step' id='step-highlight'>
        <p>I mean, it isn't a step, but you need a hover. We aren't going to do the crazy stuff the NYT does, but </p>
        <p>You can also highlight some things when you hit this step.</p>
      </div>
      <div class='step'>
        <p>And here's an empty step</p>
      </div>
    </div>
</div>

<script src="scripts/homework-15/04-chart.js"></script>
