<div class="story-body scrollytelling">
    <h1>C H A R T * T H R E E</h1>
    <p>Radial diagrams are back!</p>

    <div id="chart-3" class="chart">
    </div>

    <div class="steps">
      <div class='step'>
        <h2>It's getting cold and I don't like it.</h2>
        <ul>
          <li>Display the city listed</li>
          <li>When resize, it is always be <strong>square</strong> and the smallest between the height and width.</li>
          <li>The bands move with each city</li>
          <li>The colors change based on the <strong>mean high temperature</strong> of each city</li>
          <li>As it scroll, the transitions is smooooooth</li>
          <li>The background of the city name IN THE TEXT matches the color of the city circle</li>
        </ul>
              </div>
      <div class='step' id="nyc">
        <p>Right now you're looking at <span class='colored-text label-NYC'>NYC</span>.</p>
      </div>
      <div class='step' id="beijing">
        <p><span class='colored-text label-Beijing'>Beijing</span> is similar to <span class='colored-text label-NYC'>NYC</span>, but a little colder in the winters.</p>
      </div>
      <div class='step' id="stockholm">
        <p>If we'd like to bundle up in coats and scarves, though, <span class='colored-text label-Stockholm'>Stockholm</span> definitely has Beijing beat!</p>
      </div>
      <div class='step' id="lima">
        <p>If you'd like to stay warm in those coldest months, it might be worth a trip across the equator to <span class='colored-text label-Lima'>Lima</span>.</p>
      </div>
      <div class='step' id="tuscon">
        <p>Too much of a trek? <span class='colored-text label-Tuscon'>Tuscon, Arizona</span>, isn't that bad most of the year, as long as you don't mind the temperature dropping at night.</p>
      </div>
    </div>
</div>

<script src="scripts/homework-15/03-chart.js"></script>
