<div class="story-body scrollytelling">
    <h1>C H A R T * O N E</h1>

    <div id="chart-1" class="chart">
    </div>

    <div class="steps">
      <div class='step'>
        <ul>
          <li>Each button turns into a step (scroll down to see them).</li>
          <li>When resize, the graphic scales to the <strong>width of its container, but not the height</strong>.</li>
        </ul>
      </div>
      <div class='step' id ='reset-step'>
        <p>
          {{!-- <a id="asia-btn" class="btn btn-warning">Asia</a>
          <a id="africa-btn" class="btn btn-warning">Africa</a>
          <a id="na-btn" class="btn btn-warning">North America</a>
          <a id="low-gdp-btn" class="btn btn-warning">Low GDP countries</a>
          <a id="continent-btn" class="btn btn-warning">Color by continent</a>
          <a id="reset-btn" class="btn btn-warning">Reset</a> --}}
        </p>
      </div>
      <div class='step'  id='asia-step'>
        <p>We are highlighting Asia</p>
      </div>
      <div class= 'step'  id= 'africa-step'>
        <p>We are highlighting Africa</p>
      </div>
      <div class= 'step'  id= 'na-step'>
        <p>We are highlighting North America</p>
      </div>
      <div class= 'step'  id= 'low-gdp-step'>
        <p>We are highlighting Low GDP countries</p>
      </div>
      <div class= 'step'  id= 'continent-step'>
        <p>We are highlighting Color by continent</p>
      </div>

    </div>
</div>

<script src="scripts/homework-15/01-chart.js"></script>
