<h3>Chart 8: NBA radar chart</h3>
<p>Deal with data that isn't exactly what I am looking for.</p>
<div id="chart-8">
</div>

<script type="text/javascript" src="scripts/homework-13/08-fancy-radar.js"></script>