<div class="row">
  <div class="col-12">
    <h3>1. A bar chart about countries</h3>
    <p><strong>A bar chart of different countries' life expectancies.</strong> The buttons highlight what they say they should highlight.</p>
      <a id='highlight-asia'
      class="btn btn-warning">Asia</a>
      <a id='highlight-africa'
      class="btn btn-warning">Africa</a>
      <a id='highlight-northamerica'
      class="btn btn-warning">North America</a>
      <a id='highlight-lowgdp'
      class="btn btn-warning">Low GDP countries</a>
      <a id='highlight-continent'
      class="btn btn-warning">Color by continent</a>
      <a id='highlight-reset'
      class="btn btn-warning">Reset</a>
    <div id="bar-chart"></div>
  </div>
</div>
