<div class="row">
  <div class="col-12">
    <h3>2. A line chart about stock prices</h3>
    <p>This is a graph of AAPL stock price over time.</p>
    <p>Add circles for each data point. They line up with the line in the same color.</p>
    <p>When someone hovers over a point, it <strong>grow slightly larger</strong>, and all of the information is displayed on the right-hand column (see <code>AAPL.csv</code> for the fields).</p>
    <p>When someone removes their mouse from a dot, the circle return to its original size, but the information is still be shown.</p>
  </div>
  <div class="col-9">
    <!-- the div should go here -->
    <div id='line-chart'></div>
  </div>


  <div class="infobox">
  <p>Date: <strong class="Date">Date</strong></p>
  <p>Close: <strong class="Close">Close</strong></p>
</div>
{{!-- <svg></svg> --}}
  
</div>
