<div class="row mt-3">
  <div class="col-12">
    <h3>Chart 3: Multiple lines</h3>
    <p>An area graph with multiple overlapping segments to graph pollutants over years.</p>
    <div id="chart-03">
    </div>
  </div>
</div>