<div class="row mt-3">
  <div class="col-12">
    <h3>Chart 6: Small multiples (many, <em>many</em> multiples)</h3>
    <p>Each year as its own graph, with Japan and USA area graphs on top of each other and the year as a note at the top.</p>
    <div id="chart-06">
    </div>
  </div>
</div>