<div class="row mt-3">
  <div class="col-12">
    <h3>Chart 4: </h3>
    <p>Multiple lines, with a single dot at the end of the line and some text saying which country it is.</p>
    <p>Highlight one of the countries and its name in a different color.</p>
    <div id="chart-04">
    </div>
  </div>
</div>