<div class="row mt-3">
  <div class="col-12">
    <h3>Chart 2: Multiple lines</h3>
    <p>Graph alcohol consumption over years. Each line in a different color, with appropriately-colored dots marking each data point.</h3>
    <div id="chart-02">
    </div>
  </div>
</div>