<!doctype html>
<html lang='en'>
<head>
  {{> base/head }}
        {{> base/meta}}
  {{> base/fonts }}
  {{> base/analytics }}
</head>

<body>
<div class="container">
   {{> base/navbar }}
   {{> base/headline }}
   {{> homework-17/chart-01 }}
   {{> homework-17/chart-02 }}
   {{> homework-17/chart-03 }}
   {{> homework-17/chart-04a }}
   {{> homework-17/chart-04b }}
   {{> homework-17/chart-05 }}
   {{> homework-17/chart-06 }}
{{!-- 
  <script src="scripts/homework-17/01-map.js"></script>
  <script src="scripts/homework-17/02-map.js"></script>
  <script src="scripts/homework-17/03-map.js"></script>
  <script src="scripts/homework-17/04a-map.js"></script>
  <script src="scripts/homework-17/04b-map.js"></script>
  <script src="scripts/homework-17/05-map.js"></script>
  <script src="scripts/homework-17/06-map.js"></script> --}}

 
{{!-- <link rel="stylesheet" href="styles/responsive.css"> --}}
{{!-- <script src="scripts/homework-15/scrollytelling.js"></script> --}}
</body>
</html>
