<!doctype html>
<html lang='en'>
<head>
  {{> base/head }}
        {{> base/meta}}
  {{> base/fonts }}
  {{> base/analytics }}
</head>

<body>
<div class="container">
  {{> base/navbar }}
  {{> base/headline }}
  {{> homework-15/chart-01}}
  {{> homework-15/chart-02 }}
  {{> homework-15/chart-03 }}
  {{> homework-15/chart-04 }}

  {{!-- <script src="scripts/homework-15/01-chart.js"></script>
  <script src="scripts/homework-15/02-chart.js"></script>
  <script src="scripts/homework-15/03-chart.js"></script>
  <script src="scripts/homework-15/04-chart.js"></script> --}}

 
<link rel="stylesheet" href="styles/responsive.css">
<script src="scripts/homework-15/scrollytelling.js"></script>
</body>
</html>


