<!doctype html>
<html lang='en'>
  <head>
    {{> base/head }}
          {{> base/meta}}
  {{> base/fonts }}
  {{> base/analytics }}
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <style>
      svg { 
        background: #f9f9f9;
        display: block;
        margin: 0 auto;
      }

      h1 { margin-bottom: 2rem; }

      body {
        padding-top: 2rem;
        padding-bottom: 2rem;
        -webkit-print-color-adjust: exact;
      }

      h3 { margin-top: 3rem; }

      .container {
        max-width: 46rem;
      }
    </style>
  </head>
  <body>
  <div class="container">
    {{> base/navbar }}
    {{> base/headline }}
    <h1>Introduction to Scales, D3, and Everything Else</h1>
    <p>From chart 9, I run a <strong>server</strong>, otherwise my console will be cluttered with errors otherwise.</p>

    <h3>1. A couple scales</h3>

    <p>Present several people of various heights, and will use a rectangle to represent each of them.</p>
    <ul>
      <li><code>widthScale</code>: people are between 0 and 200cm tall, and my longest bar at 400 pixels</li>
      <li><code>colorScale</code>: <code>Man</code> to be <code>#BDB76B</code>, <code>woman</code> to be <code>#ADFF2F</code>.</li>
    </ul>

    <svg height="50" width="400" id="chart1">
      <rect x="0" y="15" height="20" fill="black"></rect>
    </svg>

    <h3>2. Working on some bars</h3>
    <ul>
      <li><strong>Using d3</strong> to change the SVG to be 400 pixels wide and 200 pixels tall</li>
      <li>Every bar is 50 pixels tall</li>
      <li>Every bar's <code>width</code> is related to the gdp of the country. If the gdp is 100, it should be as wide as the SVG.</li>
      <li>Every bar's color is related to the continent.</li>
    </li>
    <div>
      <svg id="chart2" height="400" width="400">
        <rect x="0" y="0" width="20" height="10"></rect>
        <rect x="0" y="50" width="20" height="10"></rect>
        <rect x="0" y="100" width="20" height="10"></rect>
        <rect x="0" y="150" width="20" height="10"></rect>
      </svg>
    </div>

    <h3>3. A circle chart</h3>
    <ul>
      <li>Every circle's <code>cy</code> is at the <strong>vertical center of the graph</strong></li>
      <li>Each circle is evenly spaced out on the x axis.</li>
      <li>Each circle's size reflects the weight of the animal. If an animal were 1000 lb, it has a radius of 50.</li>
    </ul>

    <div id="chart3">
      <svg>
        <g>
          <circle cx="0" cy="0" r="20"></circle>
          <circle cx="0" cy="0" r="20"></circle>
          <circle cx="0" cy="0" r="20"></circle>
          <circle cx="0" cy="0" r="20"></circle>
        </g>
      </svg>
    </div>

    <h3>4. A fake, ugly scatterplot</h3>

    <p>Add new circles</p>
    <ul>
      <li><strong>Mark:</strong> circle</li>
      <li><strong>Data:</strong> hamburgers consumed, <strong>Visual representation:</strong> x axis </li>
      <li><strong>Data:</strong> hot dogs consumed, <strong>Visual representation:</strong> y axis </li>
      <li>With <a href="http://htmlcolorcodes.com/">light pink</a> circles</li>
    </ul>

    <div id="chart4">
      <svg></svg>
    </div>

    <h3>5. A fake, ugly bubble chart</h3>
    <ul>
      <li>That is 400 pixels wide and 200 pixels tall</li>
      <li>Every circle is halfway down the SVG</li>
      <li><strong>Data:</strong> hamburgers consumed, <strong>Visual rep:</strong> x axis </li>
      <li><strong>Data:</strong> kind of animal, <strong>Visual rep:</strong> color <em>(colors are your choice)</em></li>
      <li><strong>Data:</strong> hot dogs consumed, <strong>Visual rep:</strong> radius <em>(max size is your choice)</em></li>
      <li>With an <a href="https://developer.mozilla.org/en-US/docs/Web/SVG/Attribute/opacity">opacity</a> of <code>0.5</code></li>
    </ul>

    <div id="chart5">
      <svg></svg>
    </div>
    
    <h3>6. A couple scales</h3>

    <p>Use rectangles to represent several people of various heights.</p>
    <ul>
      <li><code>widthScale</code>: people are between 0 and 200cm tall, and the longest bar is 400 pixels</li>
      <li><code>colorScale</code>: <code>Man</code> is <code>#BDB76B</code>, <code>woman</code> is <code>#ADFF2F</code>.</li>
    </ul>

    <svg height="50" width="400" id="chart6">
      <rect x="0" y="15" height="20" fill="black">
    </svg>

    <h3>7. Appending a fancy SVG with a margin</h3>
    <p>Chang this SVG to be 400 pixels wide, 200 pixels tall, with a 50 pixel margin the rectangle inside.</p>

    <div id="chart7"></div>

    <h3>8. A circle chart</h3>

    <p>Space out and resize a few circles. I make:</p>
    <ul>
      <li>Every circle's <code>cy</code> at the <strong>vertical center of the graph</strong></li>
      <li>Each circle evenly spaced out on the x axis.</li>
      <li>Each circle's size to reflect the weight of the animal. If an animal were 1000 lb, it should have a radius of 50.</li>
    </ul>

    <div id="chart8">
      <svg>
        <g>
          <circle cx="0" cy="0" r="20"></circle>
          <circle cx="0" cy="0" r="20"></circle>
          <circle cx="0" cy="0" r="20"></circle>
          <circle cx="0" cy="0" r="20"></circle>
        </g>
      </svg>
    </div>

    <h3>9. Reading external data</h3>

    <div id="chart9"></div>

    <h3>10. Scatterplots</h3>

    <ul>
      <li>That is 400 pixels wide and 400 pixels tall.</li>
      <li><strong>Mark:</strong> circle</li>
      <li><strong>Data:</strong> hamburgers consumed, <strong>Visual rep:</strong> x axis </li>
      <li><strong>Data:</strong> hot dogs consumed, <strong>Visual rep:</strong> y axis </li>
      <li>With <a href="http://htmlcolorcodes.com/">light pink</a> circles</li>
      <li>Has axis labels</li>
    </ul>

    {{!-- <p>The data being read is <a eating-data.csv</a></p> --}}

    <div id="chart10">
    </div>

    <h3>11. Categorical scatterplot</h3>

    <ul>
      <li>That is 400 pixels wide and 400 pixels tall</li>
      <li><strong>Mark:</strong> circle</li>
      <li><strong>Data:</strong> hamburgers consumed, <strong>Visual rep:</strong> x axis</li>
      <li><strong>Data:</strong> kind of animal, <strong>Visual rep:</strong> y axis </li>
      <li>With <a href="http://htmlcolorcodes.com/">light pink</a> circles</li>
      <li>Has axis labels</li>
      <li>Has a little padding between the categories and the x axis label.</li>
    </ul>

    <div id="chart11">
    </div>

    <h3>12. Weird colored bubble chart</h3>

    <ul>
      <li>That is 400 pixels wide and 200 pixels tall.</li>
      <li><strong>Mark:</strong> circle</li>
      <li><strong>Data:</strong> hamburgers consumed, <strong>Visual rep:</strong> x axis </li>
      <li><strong>Data:</strong> kind of animal, <strong>Visual rep:</strong> color <em>(colors are your choice)</em></li>
      <li><strong>Data:</strong> hot dogs consumed, <strong>Visual rep:</strong> radius <em>(max size is your choice)</em></li>
      <li>With an <a href="https://developer.mozilla.org/en-US/docs/Web/SVG/Attribute/opacity">opacity</a> of <code>0.25</code></li>
      <li>Has the x axis labeled</li>
    </ul>

    <div id="chart12"></div>

    <h3>13. Horizontal bar graph</h3>

    <ul>
      <li><strong>Mark:</strong> rectangles</li>
      <li><strong>Data:</strong> hamburgers consumed, <strong>Visual rep:</strong> height </li>
      <li><strong>Data:</strong> kind of animal, <strong>Visual rep:</strong> color</li>
      <li>Has a axis labels on the y axis</li>
      <li>Adjust margins to see the full names on the left</li>
    </ul>

    <div id="chart13">
    </div>


    <h3>14. Vertical bar graph</h3>

    <ul>
      <li><strong>Mark:</strong> rectangles</li>
      <li><strong>Data:</strong> hamburgers consumed, <strong>Visual rep:</strong> height </li>
      <li><strong>Data:</strong> kind of animal, <strong>Visual rep:</strong> color</li>
      <li>Has the bars lined up at the bottom</li>
      <li>Has a axis labels on the y axis</li>
    </ul>

    <div id="chart14">
    </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.min.js"></script>
  <script src="scripts/homework5/01-chart.js"></script>
  <script src="scripts/homework5/02-chart.js"></script>
  <script src="scripts/homework5/03-chart.js"></script>
  <script src="scripts/homework5/04-chart.js"></script>
  <script src="scripts/homework5/05-chart.js"></script>
  <script src="scripts/homework5/06-chart.js"></script>
  <script src="scripts/homework5/07-chart.js"></script>
  <script src="scripts/homework5/08-chart.js"></script>
  <script src="scripts/homework5/09-chart.js"></script>
  <script src="scripts/homework5/10-chart.js"></script>
  <script src="scripts/homework5/11-chart.js"></script>
  <script src="scripts/homework5/12-chart.js"></script>
  <script src="scripts/homework5/13-chart.js"></script>
  <script src="scripts/homework5/14-chart.js"></script>
</html>
