<!doctype html>
<html lang='en'>
<head>
  {{> base/head }}
        {{> base/meta}}
  {{> base/fonts }}
  {{> base/analytics }}
</head>

<body>
<div class="container">
  {{> base/navbar }}
  {{> base/headline }}
  
  {{!-- {{> homework-03/line_chart }}

  {{> homework-03/slope_graph }} --}} 
  
  {{> story/horizontaltemplate }} 
  
</body>
</html>