<!doctype html>
<html lang='en'>
<head>
  {{> base/head }}
        {{> base/meta}}
  {{> base/fonts }}
  {{> base/analytics }}
</head>

<body>
<div class="container">
  {{> base/navbar }}
  {{> base/headline }}
 {{> homework-13/01-pie }}
    {{> homework-13/02-pie-multiples }}
    {{> homework-13/03-wedges }}
    {{> homework-13/03b-wedges-multiples }}
    {{> homework-13/03c-donut-wedges-multiples }}
    {{> homework-13/04-radial-area }}
    {{> homework-13/05-radial-area-multiples }}
    {{> homework-13/06-radar }}
    {{> homework-13/07-mystery }}
    {{> homework-13/08-fancy-radar }}
    {{> homework-13/09-fancy-radar-multiples }}

</body>
</html>



