<!doctype html>
<html lang='en'>
<head>
  {{> base/head }}
        {{> base/meta}}
  {{> base/fonts }}
  {{> base/analytics }}
  <style>
    p.ex1 {
  margin-bottom: 40px;
  }
</style>
</head>

<body>
<div class="container">
  {{> base/navbar }}
  {{> base/headline }}
     <div class="header">
      <h1 class="headline"><center>Remixing infodumps as narratives</center></h1>
      <h2 class="subhead"><center>This projects presents a detailed chronogical and geographic breakdown of these investments</center></h2>
      <p class="byline"><center>By Frida Cai</center></p>
      <p class="date"><center>Published September 15 2019 </center></p>
    </div>

    <div class='story-body'>
      <p class='body-text'>
        Remix a piece that exists as an infodump-y interactive into a narrative story. Reduced detail in smaller views. As the size of the graphic gets smaller, an appropriate amount of detail is kept.
      </p>
      <p class='body-text'>
        This project contains :  
        <ul>
          <li>A narrative arc</li>
          <li>Three responsive graphics</li>
          <li>Text linking each graphic to the next</li>
          <li>Each graphic looks different that, for instance, the mobile version is different than laptop/medium version and makes good use of smaller space and vertical alignment.</li>
        </ul>
      </p>
      
      <p class="ex1">Disclaimer: I took taken all of this from ProPublica's <a href="https://projects.propublica.org/graphics/wva">Powerless</a> published in December 2018.
      </p>

    </div>
  


  {{> story/horizontaltemplate }} 
</body>
</html>


 



