<!doctype html>
<html lang='en'>
<head>
  {{> base/head }}
        {{> base/meta}}
  {{> base/fonts }}
  {{> base/analytics }}
</head>

<body>
<div class="container">
  {{> base/navbar }}
  {{> base/headline }}
 {{> practiceproject/basic }}
{{> practiceproject/chart-01 }}
{{> practiceproject/chart-02 }}


<div class="story-body">
    <h2>Acknowledgements:</h2>
    <p>The dataset is available at 
      <a href="https://www.kaggle.com/haimfeld87/top-35-israeli-stocks-5-years-data/download">Kaggle</a>
      and is originally extracted from 
      <a href="https://www.tase.co.il/en/market_data/index/142/tracking_products/etf">the Tel Aviv Stock Exchange</a>.</p>
</div>

{{!-- 
  <script src="scripts/practiceproject/chart-01.js"></script>
  <script src="scripts/practiceproject/chart-02.js"></script> --}}

</body>
</html>