<!doctype html>
<html lang='en'>
<head>
  {{> base/head }}
        {{> base/meta}}
  {{> base/fonts }}
  {{> base/analytics }}
</head>

<body>
<div class="container">
  {{> base/navbar }}
  {{> base/headline }}
 {{> practiceproject/basic }}
{{> practiceproject/chart-01 }}
{{> practiceproject/chart-02 }}

{{!-- 
  <script src="scripts/practiceproject/chart-01.js"></script>
  <script src="scripts/practiceproject/chart-02.js"></script> --}}

</body>
</html>